{{define "main" }}

{{ .Content }}

<h1 class="text-2xl font-bold my-12">Singles and albums</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-12 my-6">
  {{- range .Params.releases }}
    {{- $u := .art }}
    {{- with $.Page.Resources.GetMatch .art }}
      {{- $webp := .Process "webp" }}
      {{- $u = $webp.RelPermalink }}
    {{- end }}

  <div class="text-accent mb-6">
    <img src="{{ $u | safeURL }}" alt="{{ .title }}" class="mb-3 mx-auto" loading="lazy">
    <div class="flex flex-col">
      <a class="btn mb-3" href="{{ .bandcamp | safeURL }}"  target="_blank" rel="noopener">Bandcamp</a>
      <a class="btn mb-3" href="{{ .appleMusic | safeURL }}"  target="_blank" rel="noopener">Apple Music</a>
      <a class="btn" href="{{ .spotify | safeURL }}"  target="_blank" rel="noopener">Spotify</a>
    </div>
  </div>
  {{- end }}
</div>
{{ end }}
