<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "meta.html" . }}

  {{ $css := resources.Get "app.scss" | toCSS }}
  {{ $css = $css | postCSS | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
</head>

<body>
  <div class="container">
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    <hr/>
    {{ partial "footer.html" . }}

  </div>
  {{ template "_internal/google_analytics_async.html" . }}

  {{ block "scripts" . }}
  {{ end }}
</body>
