<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "meta.html" . }}

  {{ partial "styles.html" . }}
  <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
</head>

<body class="bg-main text-txt mt-3">
  <div class="container max-w-screen-lg mx-auto px-3 xl:px-0">
    <header class="flex flex-row justify-between">
      <div class="text-5xl md:text-9xl self-end max-w-lg">{{ replace .FirstSection.Section "-" " " | title }}</div>
      {{- partial "menu.html" . }}
    </header>

    <hr class="mt-3 mb-12"/>

    {{- block "main" . -}}
    <!-- The part of the page that begins to differ between templates -->
    {{- end -}}

    <hr/>

    {{- partial "footer.html" . -}}

  </div>

  {{- partial "scripts.html" . -}}

  {{- block "scripts" . -}}
  {{- end -}}
</body>
