<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "meta.html" . }}

  {{ partial "styles.html" . }}
  <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
</head>

<body>
  <div class="container max-w-screen-lg mx-auto px-3 xl:px-0">
    <header class="mb-20">
      {{ partial "menu.html" . }}
    </header>
    <header>
      <div class="text-8xl md:text-9xl font-bold">Sergey Kibish</div>
    </header>
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    <hr/>
    {{ partial "footer.html" . }}

  </div>

  {{ partial "scripts.html" . }}

  {{ block "scripts" . }}
  {{ end }}
</body>
