{{define "main" }}
<h1 class="-mt-9 text-2xl font-bold"><a class="font-bold hover:underline" href="{{ .Section | absURL }}">{{ replace .Section "blog/" "" | title }}</a> / #{{ .Title | urlize }}</h1>

<hr class="mt-3 mb-12"/>

{{ range (.Pages.GroupByDate "2006") }}
  <h1 class="text-4xl md:text-9xl font-bold my-6">{{ .Key }}</h1>
  <ul class="list-none mb-20">
    {{ range .Pages.ByDate.Reverse }}
    <li class="text-2xl my-6">
      <a class="font-bold hover:underline" href="{{.Permalink}}">{{.Title}}</a>
      <p>{{ dateFormat "Jan 2" .Date }} ({{.ReadingTime}} minutes read)</p>
    </li>
    {{ end }}
  </ul>
{{ end }}

{{ end }}
