// Theme colors
// ========================

// Original
$theme-main-color: #000;
$theme-second-color: #ab966d;
$theme-text-color: #fff;

// Bootstrap overwrites
// ========================
$body-bg: $theme-main-color;
$body-color: $theme-text-color;

$font-family-sans-serif: Montserrat;

//** Global textual link color.
$link-color:            $theme-text-color;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color;
//** Link hover decoration.
$link-hover-decoration: underline;
