// Theme colors
// ========================

// Original
$theme-main-color: #0e131f;
$theme-second-color: #ab966d;
$theme-text-color: #fbf5f3;

// Mint
// $theme-text-color: #0091adff;
// $theme-second-color: #6efafbff;
// $theme-main-color: #fff4e4ff;

// Sea
// $theme-main-color: #0fa3b1ff;
// $theme-second-color: #b5e2faff;
// $theme-text-color: #f9f7f3ff;

// Bootstrap overwrites
// ========================
$body-bg: $theme-main-color;
$body-color: $theme-text-color;

$font-family-sans-serif: Montserrat;
$font-size-base: 1.1rem;

//** Global textual link color.
$link-color:            $theme-text-color;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color;
//** Link hover decoration.
$link-hover-decoration: underline;
