// Theme colors
// ========================

// Original
$theme-main-color: #0e131f;
$theme-second-color: #ab966d;
$theme-text-color: #fbf5f3;

// Inverse
// $theme-main-color: #fff;
// $theme-second-color: #ab966d;
// $theme-text-color: #000;

// Chalk
// $theme-main-color:  #EF946C;
// $theme-second-color: #AB966D;
// $theme-text-color: #70877F;

// Pinky
// $theme-main-color:  #FFB997;
// $theme-second-color: #AB966D;
// $theme-text-color: #AA4465;

// Rose
// $theme-second-color: #ab966dff;
// $theme-main-color: #4c1e4fff;
// $theme-text-color: #F0386B;

// Mint
// $theme-text-color: #0091adff;
// $theme-second-color: #6efafbff;
// $theme-main-color: #fff4e4ff;

// Sea
// $theme-main-color: #0fa3b1ff;
// $theme-second-color: #b5e2faff;
// $theme-text-color: #f9f7f3ff;

// Safari
// $theme-main-color:  #ffc857ff;
// $theme-second-color: #95190cff;
// $theme-text-color: #31393cff;

// Negative
// $theme-main-color: #f58f29ff;
// $theme-second-color: #7785acff;
// $theme-text-color: #27187eff;

// Sun
// $theme-text-color: #ffffffff;
// $theme-main-color: #ff7733ff;
// $theme-second-color: #780116ff;

// Bootstrap overwrites
// ========================
$body-bg: $theme-main-color;
$body-color: $theme-text-color;

$font-family-sans-serif: Montserrat;

//** Global textual link color.
$link-color:            $theme-text-color;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color;
//** Link hover decoration.
$link-hover-decoration: underline;
