// Theme setup
// ---------------------------

// Theme colors
// ========================

$theme-main-color: {{ .Param "styles.mainColor"  }};
$theme-second-color: {{ .Param "styles.secondColor"  }};
$theme-text-color: {{ .Param "styles.textColor"  }};

// Bootstrap overwrites
// ========================
$body-bg: $theme-main-color;
$body-color: $theme-text-color;

$font-family-sans-serif: Montserrat;
$font-size-base: 1.1rem;

//** Global textual link color.
$link-color:            $theme-text-color;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color;
//** Link hover decoration.
$link-hover-decoration: underline;

@import "../node_modules/bootstrap/scss/bootstrap";

// icons
$fa-font-path : '/webfonts';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';

// Rules that apply to the whole website
// ---------------------------
body {
  margin-top: 20px;
}

section,
header {
  @include make-row();
  margin-bottom: 50px;

  @include media-breakpoint-down(lg) {
    @include make-row();
    margin-bottom: 20px;
  }
}

h1 {
  font-weight: $font-weight-bold;
}

.subtitle {
  font-weight: $font-weight-normal;
  font-size: $h1-font-size;
  border-bottom: 1px solid $theme-second-color;
}

h5 {
  font-weight: $font-weight-bold;
  margin-bottom: $headings-margin-bottom + 1.5;
}

.underline {
  border-bottom: 1px solid $theme-second-color;
  padding-bottom: 3px;
  text-decoration: none !important;
}

hr {
  background-color: $theme-second-color;
  border: none;
  height: 3px;
}

ul {
  padding-left: 16px;
}

// Header
// ---------------------------
header>div {
  &:first-child {
    @include make-col-ready();

    // col-md-8
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
  }

  &:last-child {
    @include make-col-ready();

    // col-md-8
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    @include media-breakpoint-down(md) {
      display: none !important; // .d-lg-block
    }

    text-align: center; // text-center
  }
}

// Clock
// ---------------------------
.clock {
  width: 150px;
  height: 150px;
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-fill-mode: both;
  fill: $theme-text-color;

  &__hand-seconds,
  &__hand-minutes,
  &__hand-hours {
    transform-origin: 50% 50%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  &__hand-seconds {
    fill: $theme-second-color;
  }
}

// Summary
// ---------------------------
.summary {
  >div:first-child {
    @include make-col-ready();

    // col-md-4
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }

  &__picture {
    position: relative;

    img {
      @include img-fluid();
      position: absolute;
      transition: opacity 1s ease-in-out;
      filter: grayscale(100%);
    }

    &__top {
      position: relative !important;

      &:hover {
        opacity: 0;
      }
    }
  }

  &__bio {
    @include make-col-ready();

    // col-md-8
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }

    //  col-lg-4
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }

    font-weight: normal;
    font-style: normal;
    line-height: 34px;
    font-size: 1.3rem;
  }

  &__splash {
    @include make-col-ready();

    // .col-md-4
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    @include media-breakpoint-down(md) {
      display: none !important; // .d-lg-block
    }

    text-align: center; // text-center

    svg {
      fill: none;
    }

    path {
      stroke: $theme-second-color;
    }
  }
}

// Strong sides
// ---------------------------
.strong-sides {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 2rem;
  list-style: none;
  padding-left: 0px;
  stroke: $theme-second-color;

  svg {
    margin-right: 0.2em;
  }
}

// Characteristics and Proud of sections
// ---------------------------
.characteristics,
.proudof {
  >div {
    @include make-col-ready();

    // .col-md-4
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }
}

// Marathon map
// ---------------------------
.map {
  fill: $theme-second-color;

  color: $theme-second-color;
  font-size: 40px;

  @include media-breakpoint-down(lg) {
    font-size: 26px;
  }

  @include media-breakpoint-down(sm) {
    display: none !important; // .d-lg-block
  }

  &__route {
    margin-top: -50px;
    padding: 10px;
    fill: $theme-second-color;
  }
}

// Latest articles
// ---------------------------
.latest-articles {
  font-style: normal;
  font-weight: bold;
  line-height: 35px;
  font-size: $h5-font-size;

  >div:first-child {
    // col-md-12
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(12);
    }

    margin-bottom: 20px;
  }

  // Article
  &__article {
    // col-md-4
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    margin-bottom: 20px;

    &__title {
      font-style: normal;
      font-weight: 500;
      line-height: 59px;
      font-size: $h1-font-size;

      @include media-breakpoint-down(lg) {
        line-height: 30px;
        font-size: $h3-font-size;
      }

      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $theme-second-color;
      }
    }

    &__date {
      font-style: normal;
      font-weight: normal;
      line-height: 23px;
      font-size: $font-size-base;

      i {
        margin-right: 0.2em;
      }
    }
  }
}

// Testimonials
// ---------------------------
.expanded {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.testimonials {
  >div {
    // col-lg-3
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(3);
    }
  }

  &__testimonial {
    border: 1px solid $theme-second-color;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 21px 3px $theme-second-color;
    }

    &__text {
      margin-bottom: 20px;
    }

    &__author {
      font-weight: $font-weight-bold;
    }

    &--expanded {
      box-shadow: 0px 0px 21px 3px $theme-second-color !important;
    }
  }
}

// Footer
// ---------------------------
footer {
  @include make-row();

  h5 {
    margin-bottom: $headings-margin-bottom;
  }

  li {
    margin-bottom: 0.5em;
    i {
      margin-right: 0.2em;
    }
  }

  .ask-help {
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 22px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  .contact-me {
    font-style: normal;
    font-weight: bold;
    color: $theme-second-color;

    &:hover {
      text-decoration-line: underline;
      color: $theme-second-color;
    }
  }
}

// Blog posts
// ----------------
.blog-posts {
  &__title {
    font-style: normal;
    font-weight: 500;
    line-height: 59px;
    font-size: 40px;

    @include media-breakpoint-down(lg) {
      line-height: 30px;
      font-size: 20px;
    }

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $theme-second-color;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
  }
}

// Blog post page
// ---------------------------
article {
  a {
    color: $theme-second-color;

    &:hover,
    &:link,
    &:active,
    &:visited {
      color: $theme-second-color;
    }
  }

  p code {
    color: $theme-second-color;
    background-color: $theme-text-color;
    padding-left: .2em;
    padding-right: .2em;
  }

  pre {
    padding: 0.5em;
  }

  blockquote {
    border-left: 4px solid $theme-text-color;
    padding-left: 0.5em;

    p {
      font-style: italic;
      font-size: 1.5rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover a {
      display: initial;
    }

    a {
      display: none;
    }
  }
}
