@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply block px-12 py-4 text-center border-4 border-yellow-700 dark:border-yellow-300 font-bold hover:bg-yellow-700 dark:hover:bg-yellow-300 hover:bg-opacity-10 dark:hover:bg-opacity-10 rounded no-underline;
}

.btn-contactme {
  @apply border-yellow-700 dark:border-yellow-300 text-yellow-700 dark:text-yellow-300 font-bold text-2xl hover:bg-yellow-700 dark:hover:bg-yellow-300 hover:bg-opacity-10 dark:hover:bg-opacity-10 rounded no-underline;
}

hr {
  @apply h-2 border-none mt-3 bg-yellow-700 dark:bg-yellow-300 rounded;
}

.underline {
  @apply decoration-yellow-700 dark:decoration-yellow-300;
}

.hover\:underline:hover {
  @apply decoration-yellow-700 dark:decoration-yellow-300;
}

.footnotes hr {
  @apply mb-6;
}

body {
  @apply bg-violet-100 dark:bg-violet-900 text-violet-900 dark:text-violet-100 mt-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-2xl font-bold;
}

p {
  @apply leading-7 mb-5;
}

article ul {
  @apply list-disc list-outside pl-5 mb-5;
}

article ol {
  @apply list-decimal list-outside pl-5 mb-5;
}

a {
  @apply underline hover:text-yellow-700 hover:dark:text-yellow-300;
}

blockquote {
  @apply italic border-l-4 border-violet-900 dark:border-violet-100 p-2 bg-violet-900/10 dark:bg-violet-100/10 rounded mb-5;
}

blockquote > :last-child {
  @apply mb-0;
}

code:not(.highlight *) {
  @apply text-yellow-700 dark:text-yellow-300 px-1;
}

.highlight {
  @apply mb-5;
}

article pre {
  @apply p-1 overflow-auto;
}

img {
  @apply dark:brightness-90 dark:contrast-75
}

table {
  @apply w-full table-fixed border-spacing-2 my-6;
}

table tr {
  @apply border-b border-violet-900 dark:border-violet-100;
}

table tr:first-child {
  @apply border-t-4 border-violet-900 dark:border-violet-100;
}

table tr:last-child {
  @apply border-b-4 border-violet-900 dark:border-violet-100;
}

table tr td {
  @apply py-3;
}


/*
======================================================================
CODE HIGHLIGHTING
======================================================================
*/

/* theme base: solarized-dark */
/* PreWrapper */ .chroma { color: #93a1a1; background-color: #002b36; }
/* Other */ .chroma .x { color: #cb4b16 }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl { color: #93a1a1 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #014253 }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #495050 }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #495050 }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #719e07 }
/* KeywordConstant */ .chroma .kc { color: #cb4b16 }
/* KeywordDeclaration */ .chroma .kd { color: #268bd2 }
/* KeywordNamespace */ .chroma .kn { color: #719e07 }
/* KeywordPseudo */ .chroma .kp { color: #719e07 }
/* KeywordReserved */ .chroma .kr { color: #268bd2 }
/* KeywordType */ .chroma .kt { color: #d75553 }
/* Name */ .chroma .n { color: #93a1a1 }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb { color: #b58900 }
/* NameBuiltinPseudo */ .chroma .bp { color: #268bd2 }
/* NameClass */ .chroma .nc { color: #268bd2 }
/* NameConstant */ .chroma .no { color: #cb4b16 }
/* NameDecorator */ .chroma .nd { color: #268bd2 }
/* NameEntity */ .chroma .ni { color: #cb4b16 }
/* NameException */ .chroma .ne { color: #cb4b16 }
/* NameFunction */ .chroma .nf { color: #268bd2 }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: #93a1a1 }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #268bd2 }
/* NameVariable */ .chroma .nv { color: #268bd2 }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #2aa198 }
/* LiteralStringAffix */ .chroma .sa { color: #2aa198 }
/* LiteralStringBacktick */ .chroma .sb { color: #586e75 }
/* LiteralStringChar */ .chroma .sc { color: #2aa198 }
/* LiteralStringDelimiter */ .chroma .dl { color: #2aa198 }
/* LiteralStringDoc */ .chroma .sd {  }
/* LiteralStringDouble */ .chroma .s2 { color: #2aa198 }
/* LiteralStringEscape */ .chroma .se { color: #cb4b16 }
/* LiteralStringHeredoc */ .chroma .sh {  }
/* LiteralStringInterpol */ .chroma .si { color: #2aa198 }
/* LiteralStringOther */ .chroma .sx { color: #2aa198 }
/* LiteralStringRegex */ .chroma .sr { color: #d75553 }
/* LiteralStringSingle */ .chroma .s1 { color: #2aa198 }
/* LiteralStringSymbol */ .chroma .ss { color: #2aa198 }
/* LiteralNumber */ .chroma .m { color: #2aa198 }
/* LiteralNumberBin */ .chroma .mb { color: #2aa198 }
/* LiteralNumberFloat */ .chroma .mf { color: #2aa198 }
/* LiteralNumberHex */ .chroma .mh { color: #2aa198 }
/* LiteralNumberInteger */ .chroma .mi { color: #2aa198 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #2aa198 }
/* LiteralNumberOct */ .chroma .mo { color: #2aa198 }
/* Operator */ .chroma .o { color: #719e07 }
/* OperatorWord */ .chroma .ow { color: #719e07 }
/* Punctuation */ .chroma .p { color: #93a1a1 }
/* Comment */ .chroma .c { color: #586e75 }
/* CommentHashbang */ .chroma .ch { color: #586e75 }
/* CommentMultiline */ .chroma .cm { color: #586e75 }
/* CommentSingle */ .chroma .c1 { color: #586e75 }
/* CommentSpecial */ .chroma .cs { color: #719e07 }
/* CommentPreproc */ .chroma .cp { color: #719e07 }
/* CommentPreprocFile */ .chroma .cpf { color: #719e07 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #d75553 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #d75553; font-weight: bold }
/* GenericHeading */ .chroma .gh { color: #cb4b16 }
/* GenericInserted */ .chroma .gi { color: #719e07 }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #268bd2 }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
