article {
  a {
    color: color($key: "gold");
    &:hover, &:link, &:active, &:visited {
      color: color($key: "gold");
    }
  }
  code {
    color: color($key: "gold");
  }
  hr {
    background-color: color($key: "gold");
    border: none;
    height: 3px;
  }
  pre {
    padding: 0.5em;
  }
}
