.article {
  margin-bottom: 20px;
}

.latest-articles {
  font-style: normal;
  font-weight: bold;
  line-height: 35px;
  font-size: 24px;
}

.article-title a {
  font-style: normal;
  font-weight: 500;
  line-height: 59px;
  font-size: 40px;
  color: $white !important;

  @include media-breakpoint-down(lg) {
    line-height: 30px;
    font-size: 20px;
  }

  &:hover {
      text-decoration: none;
      border-bottom: 1px solid color($key: "gold");
  }
}
