.testimonial {
  border: 1px solid color($key: "gold");
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 15px;
}

.testimonial-text {
  margin-bottom: 20px;
}

.testimonial-author {
  font-weight: $font-weight-bold;
}
