h1 {
  font-weight: $font-weight-bold;
}

.subtitle {
  font-weight: $font-weight-normal;
  font-size: $h1-font-size;
  border-bottom: 1px solid color($key: "gold");
}

h3 {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  margin-bottom: 30px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 0px;
  }
}

h4 {
  font-weight: $font-weight-bold;
  font-size: $h5-font-size;
  margin-bottom: $headings-margin-bottom + 1.5;
}

h5 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
}

p {
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  font-size: 16px;
}

.strike {
  text-decoration: line-through color($key: "gold");
}

.underline {
  border-bottom: 1px solid color($key: "gold");
  padding-bottom: 3px;
  text-decoration: none !important;
}
