<footer>
    <div class="col-md-4 ask-help">
      <div>Ask / Hire</div>
      <a class="contact-me" href="mailto:{{.Site.Params.Email}}">Just email me</a>
    </div>

    <div class="col-md-2 offset-md-2">
      <h5>Navigation</h5>

      <nav>
        <ul class="list list-unstyled">
          {{ range .Site.Data.footerLinks.nav }}
          <li class="list-item">
            <i class="{{ .icon }}"></i> 
            <a href="{{ .link }}" rel="me">
              {{ .title }}
            </a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>

    <div class="col-md-2">
      <h5>Social</h5>

      <ul class="list list-unstyled">
        {{ range .Site.Data.footerLinks.social }}
        <li class="list-item">
          <i class="{{ .icon }}"></i> 
          <a href="{{ .link }}" rel="me">
            {{ .title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="col-md-2">
      <h5>Different</h5>

      <ul class="list list-unstyled">
        {{ range .Site.Data.footerLinks.hobby }}
        <li class="list-item">
          <i class="{{ .icon }}"></i>
          <a href="{{ .link }}" rel="me">
            {{ .title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>

    {{ if isset .Site.Data.footerLinks "partOf" }}
    <div class="col-md-2">
      <h5>Part of</h5>

      <ul class="list list-unstyled">
        {{ range .Site.Data.footerLinks.partOf }}
        <li class="list-item">
          <i class="{{ .icon }}"></i> 
          <a href="{{ .link }}" rel="me">
            {{ .title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{end}}
  </footer>
