<footer class="flex flex-col md:flex-row justify-between mt-3">
  <a class="btn-contactme flex-initial grow block py-14 text-center border-4 md:mr-3" href="mailto:{{.Site.Author.email}}">Contact me</a>
  <nav class="flex-initial mt-3 md:mr-12 md:mt-0">
    <h1 class="font-bold">Navigation</h1>
    <ul class="list-none">
      {{- range .Site.Menus.main -}}
      <li class="py-1 md:py-0">
        <a class="text-txt dark:text-darkTxt hover:underline" href="{{ .URL }}" rel="me">
          {{- .Name -}}
        </a>
      </li>
      {{- end -}}
    </ul>
  </nav>

  <div class="flex-initial mt-3 md:mr-12 md:mt-0">
    <h1 class="font-bold">Social</h1>
    <ul class="list-none">
      {{- range .Site.Data.footerLinks.social -}}
      <li class="py-1 md:py-0">
        <a class="text-txt dark:text-darkTxt hover:underline" href="{{ .link }}" rel="me">
          {{- .title -}}
        </a>
      </li>
      {{- end -}}
    </ul>
  </div>

  <div class="flex-initial mt-3 md:mt-0">
    <h1 class="font-bold">Various</h1>
    <ul class="list-none">
    {{- $b := .Site.GetPage "/blog" -}}
    {{- $rss := $b.OutputFormats.Get "rss" -}}
      <li class="py-1 md:py-0">
        <a class="text-txt dark:text-darkTxt hover:underline" href="{{ $rss.Permalink }}">Blog RSS Feed</a>
      </li>
    {{ range $k, $v := .Site.Taxonomies }}
      <li class="py-1 md:py-0">
        <a class="text-txt dark:text-darkTxt hover:underline" href="{{ $k | absURL }}" rel="me">
          {{- delimit (split $k "/") " " | title -}}
        </a>
      </li>
    {{ end }}
    </ul>
  </div>
</footer>

<div class="my-6">
  {{- .Site.Copyright | safeHTML -}}
</div>
