<footer>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h6 class="text-white">Social</h6>
        <ul class="list list-unstyled">
          <li class="list-item"><a class="text-white" href="https://twitter.com/s_kibish" rel="me"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i>Twitter</a></li>
          <li class="list-item"><a class="text-white" href="https://github.com/skibish" rel="me"><i class="fa fa-fw fa-github" aria-hidden="true"></i>GitHub</a></li>
          <li class="list-item"><a class="text-white" href="https://linkedin.com/in/kibish" rel="me"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>LinkedIn</a></li>
        </ul>
      </div>
      <div class="col">
        <h6 class="text-white">Talks / Workshops / Music</h6>
        <ul class="list list-unstyled">
          <li class="list-item"><a class="text-white" href="https://speakerdeck.com/skibish" rel="me"><i class="fa fa-fw fa-slideshare" aria-hidden="true"></i>Speaker Deck</a></li>
          <li class="list-item"><a class="text-white" href="https://soundcloud.com/kibish" rel="me"><i class="fa fa-fw fa-soundcloud" aria-hidden="true"></i>SoundCloud</a></li>
          <li class="list-item"><a class="text-white" href="https://allihoopa.com/kibish" rel="me">Allihoopa</a></li>
        </ul>
      </div>
      <div class="col">
        <h6 class="text-white">Part of</h6>
        <ul class="list list-unstyled">
          <li class="list-item"><a class="text-white" href="https://gdgriga.lv"><i class="fa fa-fw fa-google" aria-hidden="true"></i>GDG Riga</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <small class="text-white">{{ .Date.Format "2006" }} &copy; {{ .Site.Params.Author }}. All rights reserved.</small>
      </div>
    </div>
  </div>
</div>
</footer>
