<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{- with .Description -}}
<meta name="description" content="{{ . }}"/>
{{- else -}}
<meta name="description" content="{{ .Site.Params.Description }}"/>
{{- end }}

<link rel="icon" href="/icon.ico?v={{ readFile "static/icon.ico" | md5 }}" sizes="32x32">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

{{- $manifest := resources.Get "manifest.json" | resources.ExecuteAsTemplate "manifest.json" . | fingerprint }}
<link rel="manifest" href="{{ $manifest.RelPermalink }}">

{{- partial "opengraph.html" . -}}

{{- if .Params.canonical -}}
<link rel="canonical" href="{{.Params.canonical}}" />
{{- end -}}

{{- $b := .Site.GetPage "/blog" -}}
{{- $rss := $b.OutputFormats.Get "rss" -}}
{{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` $rss.Rel $rss.MediaType.Type $rss.Permalink $b.Title | safeHTML -}}
