<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="container">
    <a class="navbar-brand" href="#">SK</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="navbar-main">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tech">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">Word of mouth</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>

      {{/*
      <ul class="navbar-nav mr-right" id="navbar-links">
        <li class="nav-item">
          <a class="nav-link" href="/log">Log</a>
        </li>
      </ul>
      */}}
    </div>
  </div>
</nav>
