<div class="row">
  <div class="col">
    <img src="/logos/docker.svg" class="img-fluid" alt="Docker">
  </div>
  <div class="col text-center">
    <img src="/logos/php.svg" class="img-fluid" alt="PHP">
  </div>
  <div class="col">
    <img src="/logos/gopher.svg" class="img-fluid" alt="Golang">
  </div>
  <div class="col">
    <img src="/logos/bash.svg" class="img-fluid" alt="Bash">
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="/logos/python.svg" class="img-fluid" alt="Python">
  </div>
  <div class="col">
    <img src="/logos/javascript.svg" class="img-fluid" alt="JavaScript">
  </div>
  <div class="col">
    <img src="/logos/redis.svg" class="img-fluid" alt="Redis">
  </div>
  <div class="col">
    <img src="/logos/mysql.svg" class="img-fluid" alt="MySQL">
  </div>
</div>
