{{define "main" }}

{{ .Content }}

<div class="grid grid-cols-1 md:grid-cols-6">
{{ range (.Pages.GroupByDate "2006") }}
  <div class="md:col-span-2">
    <div class="md:sticky md:top-0 text-7xl font-bold">{{ .Key }}</div>
  </div>

  <div class="md:col-span-4">
  {{ range .Pages }}
    <article>
      <h1 id="{{.File.TranslationBaseName}}">{{ .Params.title }}</h1>
      <div class="text-2xl"><time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ if lt now .Date}}[UPCOMING] {{end}} {{ dateFormat "Jan 2" .Date }}</time></div>
      <div class="text-2xl">
        {{ .Params.name }}
        · {{ .Params.city }}, {{ .Params.country }}
        {{ if isset .Params "website" }} · <a href="{{ .Params.website }}" target="_blank" rel="noopener">Website</a> {{ end }}
        {{ if isset .Params "video" }} · <a href="{{ .Params.video }}" target="_blank" rel="noopener">Video</a> {{ end }}
      </div> 
      {{.Content}}
    </article>
  {{ end }}
  </div>
{{ end }}

</div>
{{end}}
